.sidebar {
  background-color: #21293c;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 200px;
  height: 100vh;
  align-items: center;
  align-content: center;
}
.blue-task {
  color: #33add1;
  margin-left: -1rem;
  margin-right: 7px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-right: 20px;
}
.sidebar-header img {
  width: 65px;
}
.sidebar-text {
  display: flex;
  font-family: "DM Sans";
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 25px;
  height: 40;
}

.menu-item:hover,
.menu-item.active {
  background-color: white;
  color: black;
}
